@page
@model LabFrontend.Pages.Devices.CreateModel

@{
    ViewData["Title"] = "Create Device";
}

<h1>Create Device</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Device.Name"></label>
                <input asp-for="Device.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Device.Url"></label>
                <input asp-for="Device.Url" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
