@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete Device";
}

<h1>Delete Device</h1>

<h4>Are you sure you want to delete this device?</h4>
<div>
    <h2>@Model.Device.Name</h2>
    <h4>@Model.Device.Url</h4>

    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
