@page "{id}"
@model LabFrontend.Pages.Devices.DeviceSettingsModel
@{
    ViewData["Title"] = "Device Settings";
}

<h1>Device Settings</h1>

@if (Model.Device != null)
{
    <form method="post">
        <div>
            <label asp-for="DeviceSettings.CounterCount">Counter Count:</label>
            <input asp-for="DeviceSettings.CounterCount" style="width: 300px;" />
        </div>
        <div>
            <label asp-for="DeviceSettings.Season">Season:</label>
            <input asp-for="DeviceSettings.Season" style="width: 300px;" />
        </div>
        <div>
            <label asp-for="DeviceSettings.ReceptionPointId">Reception Point Id:</label>
            <input asp-for="DeviceSettings.ReceptionPointId" style="width: 400px;" />
        </div>
        <div>
            <label asp-for="DeviceSettings.DeviceId">Device Id:</label>
            <input asp-for="DeviceSettings.DeviceId" style="width: 300px;" />
        </div>
        <div>
            <label asp-for="DeviceSettings.AuthEmail">Auth Email:</label>
            <input asp-for="DeviceSettings.AuthEmail" style="width: 300px;" />
        </div>
        <div>
            <label asp-for="DeviceSettings.AuthPassword">Auth Password:</label>
            <input asp-for="DeviceSettings.AuthPassword" type="password" style="width: 300px;" />
        </div>
        <button type="submit">Save</button>
    </form>
}
else
{
    <p>Loading device settings...</p>
}
