@page "{id}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="hidden" asp-for="User.Id" />
    <div class="form-group">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="User.Role"></label>
        <input asp-for="User.Role" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="User.RoleId"></label>
        <input asp-for="User.RoleId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
